<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>F.O.S.S. Club</h1>
                    <h3>FOSS means free software and open source software, is licensed to be free to use, copy, modify, and distribute. It provides an ideal platform for learning.Due to its potential benefits,it is gaining a lot of recognition these days.
                    </h3>
                    <h3>This club encourages, supports and mentors students to improve their technical and social skills through contributing to open source.</h3>		
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/foss.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->